dataset/open_datasets/OpenMRG_Sweden/radar/radar.nc
dataset/open_datasets/OpenMRG_Sweden/cml/files/sub_networks_ma.pkl
dataset/open_datasets/OpenMRG_Sweden/radar/radar.nc
dataset/open_datasets/OpenMRG_Sweden/cml/files/sub_networks_ma.pkl
